

@import "gallery-filter";

/*.page-content.gallery #view{
		width: 100%;
		float: left;
		margin-bottom: 15px;

		ul{
			//margin-left: 26.05%;
			margin-left: 22%;

			li{
				float: left;
				padding-left:15px;
				padding-right:15px;

				border-left: 1px #fec52d solid;

				&:first-child{
					border-left:none;
					padding-left: 0;
				}
				a{

				}

				span{
					
				}
			}
		}
	}*/