<style>
#text{
	
}
/* 1 */

    * {  
      margin: 0;  
      padding: 0;  
    }  
    html {height: 100%;}  
    body {  
      height: auto !important;  
      height: 100%;  
      min-height: 100%;  
      position: relative;  
    }  
    #page-bg {  
      padding-bottom: 207px;  
    }  
    #footer-info-wrapper {  
      position: absolute;  
      bottom: 0;  
      height: 207px;  
    }
    #page-footer {  
      position: absolute;  
      bottom: 0;  
      height: 207px;  
      display: none;
    } 
    #page-bg:after { 
  		content: ".";  
  		display: block;  
  		height: 0;  
  		visibility: hidden;  
  		clear: both;  
	}  

/* 2 */
/*	* {  
  margin: 0;  
  padding: 0;  
}  
html, body {height: 100%;}  
#page-bg {  
  position: relative;  
  min-height: 100%;  
}  
* html #page-bg {  
  height: 100%;  
}  
#text {  
  padding-bottom: 100px;  
}  
#footer-info-wrapper {  
  position: relative;  
  height: 207px;  
  margin-top: -207px;  
} */
</style>
<div id="text">
	<h1>Empty#index</h1>
	<p>Find me in app/views/empty/index.html.erb</p>
</div>

<script type="text/javascript">
  $('h1').text(screen.width);
</script>