.dl-trigger{
	display: none;
	width:64px;
	height: 64px;
	float:right;
	background-color:green;

}

@media(max-width:960px){
	div.menu{
		ul#nav{
			li{
				ul{
					width:200%;
					li{
						a{
							//color:blue !important;
						}
					}
				}
			}
		}
	}
}


@media(max-width:$mobile_menu_screen_width){
	div#menu-holder div#menu-wrapper div#menu div.menu > ul > li{
		float: none;
	}

	#menu-holder{
		background-color: $red_color;
		#nav{
			//display: none;
		}
	}

	.dl-trigger{
		display: block;
	}



	body.common-layout div#menu-holder{
		height: 94px;
	}

	body.common-layout div#overlay-wrapper{
		top: 45px;
	}

	.common-layout .menu #menu-shadow-wrapper{
		height: 82px;
	}

	.common-layout .menu #menu-shadow-wrapper #menu-shadow-holder {
		height: 60px;
	}

	.common-layout .menu #menu-shadow-wrapper #menu-shadow-holder #menu-shadow{
		height: 45px;
	}

	body.home-layout div#menu-holder{
		height: 94px;
	}

	body.home-layout div#overlay-wrapper{
		top: 45px;
	}

	.home-layout div.menu{
		height: 45px;
	}
	.home-layout .menu #menu-shadow-wrapper{
		height: 82px;
		display: none;
	}

	body.home-layout div#menu-holder{
		height: 45px;
	}

	.home-layout .menu #menu-shadow-wrapper #menu-shadow-holder {
		height: 60px;
	}

	.home-layout .menu #menu-shadow-wrapper #menu-shadow-holder #menu-shadow{
		height: 45px;
	}



	body .dl-menuwrapper .dl-menu{
		margin-top: 45px;

		max-width: 100%;

		right: 0;
	}

	span.dropdown-arrow{
		display: none;
	}

	html body div.demo-3 .menu #dl-menu > ul > li > ul > li > a{
	
	}


}

@media(min-width:$desktop_menu_screen_width){
  li.dl-back{
		display: none;
  }
}
