
<!-- temporarily commenthed because of absent Internet connection -->
<div id="gmap-wrapper" class="container">
  <h2>Карта доїзду:</h2>
  <div id="map-wrapper">
    <div id="gmap-shadow">
      <div id="gmap"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
