<div id="footer-info-wrapper">
<!--<div id="footer-bg"></div>-->
<div id="footer-content">
<!--<div id="inner">-->
<div id="bottom-contact">
<hr/>
<div class="part part1">
<%= raw footer_contact_data.address %>
</div>
<div class="part part2">
<%= raw footer_contact_data.working_hours %>
</div>

<div class="part part3">
<%= raw footer_contact_data.contacts %>
</div>

<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!--</div>-->
</div>


</div>