<div id="page-footer">
		<div class="">
			
			<div id="footer-navigation">
				<ul>
					<li><a href="/">Головна</a></li>
					<li><a href="/about">Про компанію</a></li>
					<li><a href="/catalog">Продукція</a></li>
					<li><a href="/gallery">Фотогалерея</a></li>
					<li><a href="/articles">Публікації</a></li>
					<li><a href="/contact">Контакти</a></li>
				</ul>
			</div>

			<div id="developed-by">
				<div class="image-container">
					<%= image_tag 'vs-logo.png' %>
				</div>
				<p><span>Зроблено в &nbsp;</span>
					<a id="link1" href="http://voroninstudio.eu">дизайн студії Миколи Вороніна</a> <br/><span>у 2013 році.&nbsp;</span>
					<a id="link2" href="http://voroninstudio.eu">Інформація про сайт</a></p>
			</div>
			
				<p id="copyright"><span>&copy;2010&mdash;<%= Time.now.year %> &nbsp;</span><a href="<%= root_path %>">Бруківка</a> <span>&nbsp;від ТзОВ &laquo;Русин-О&raquo;</span></p>
			
		</div>

	<div class="clearfix"></div>
</div>