<!DOCTYPE html>
<html>
<head>
  <title>Rusin-O</title>
  <%= stylesheet_link_tag    "test/test", :media => "all" %>
  <%= javascript_include_tag "test/test" %>
  <%= csrf_meta_tags %>
</head>
<body class="test">

</body>
</html>
